<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Codespaces Rails 8" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "Blog App", root_path, class: "navbar-brand" %>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <% if current_user %>
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Posts", posts_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "New Post", new_post_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Friend Requests (#{current_user.pending_friend_requests.count})", 
                    friend_requests_path, 
                    class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Friends", friends_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          
          <ul class="navbar-nav">
            <% if current_user %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                  <%= current_user.email_address %>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <%= link_to "Profile", edit_profile_path, class: "dropdown-item" %>
                  <%= button_to "Sign Out", logout_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign In", new_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", signup_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>